pandas>=1.2.2
tweepy==3.10.0  # fix version to allow access to protected class member _json (as it might be removed in future)
numpy>=1.20.1
typing>=3.7.4.3
tqdm>=4.56.2
matplotlib>=3.3.4
seaborn>=0.11.1
nltk>=3.5
pathlib>=1.0.1
networkx>=2.5
textblob>=0.15.3
textblob-de>=1.0.1
